#register {
    padding: 2rem 3rem;
    background-color: #d8ddde;
    border-radius: .3rem;
}

#row-register {
    margin-top: 2rem;
}

#register-info {
    padding: 1rem 1rem;
    background-color: #4D90FE;
    color: white;
    border-radius: .3rem;
}

#register-info p {
    font-weight: 500;
}

input {
    border-radius: .3rem;
    margin-bottom: .6rem;
}

#register p {
    margin-bottom: .1rem;
}

#btn-register {
    margin-top: 2rem;
    cursor: not-allowed;
}

#chk-tos {
	cursor: pointer;
}

form i {
    visibility: hidden;
    color: #4D90FE;
}

#error-imie, #error-nazwisko, #error-login, #error-haslo, #error-powtorz, #error-email {
    display: none;
    visibility: visible;
    color: #e52222;
}

#good-imie, #good-nazwisko, #good-login, #good-haslo, #good-powtorz, #good-email {
    display: none;
    visibility: visible;
    color: #1bc442;
}

#help {
    display: none;
    width: 15rem;
    padding: 1rem 1.5rem;
    border-radius: .3rem;
	color: white;
}
